body { background-color: black; 
        color: white;
        font-family: Arial, Helvetica, sans-serif;}
.grid-item { width: 600px; overflow:hidden;}
.grid-item--width2 { width: 600px; height:450px;}
